name: React-Application-CI-CD 

on:
  workflow_dispatch:
  # push: 
  #   branches:
  #     main

env:
  VITE_USE_TUNNEL: ${{ vars.VITE_USE_TUNNEL }}
  VITE_ADMIN: ${{ vars.VITE_ADMIN }}
  VITE_ADMINFORM: ${{ vars.VITE_ADMINFORM }}
  VITE_CANDIDATE: ${{ vars.VITE_CANDIDATE }}
  VITE_CANDIDATE_TEST: ${{ vars.VITE_CANDIDATE_TEST }}
  VITE_CANDIDATE_FORM: ${{ vars.VITE_CANDIDATE_FORM }}

  DB_HOST: ${{ vars.DB_HOST }}
  DB_USER: ${{ vars.DB_USER }}
  DB_PASSWORD: ${{ vars.DB_PASSWORD }}
  DB_NAME: ${{ vars.DB_NAME }}
  SECRET_KEY: ${{ vars.SECRET_KEY }}
  REFRESH_KEY: ${{ vars.REFRESH_KEY }}
  SENDER_MAIL: ${{ vars.SENDER_MAIL }}
  PASS_KEY: ${{ vars.PASS_KEY }}
  ADMIN_EMAIL: ${{ vars.ADMIN_EMAIL }}

jobs:
  Gitleaks-Secrets-Check:
    runs-on: Runner-1

    steps:
      - name: checkout step
        uses: actions/checkout@v4

      - name: gitleaks step
        uses: gitleaks/gitleaks-action@v2

      - name: gitleaks run
        run: | 
          pwd
          mkdir -p report
          gitleaks detect --no-git --exit-code 1 source ./frontend --report-format json --report-path report/Front-log.json
          gitleaks detect --no-git --exit-code 1 source ./backend --report-format json --report-path report/Back-log.json

  OWASP-Dependency-check:
    runs-on: Runner-1
    needs: Gitleaks-Secrets-Check
    steps:
      - name: checkout step
        uses: actions/checkout@v4
      
      - name: Run OWASP Dependency-Check-Frontend
        uses: dependency-check/Dependency-Check_Action@main
        with:
          project: "ReactApp-Frontend"
          path: "ReactApplication/Frontend"
          format: "HTML"
          out: "reports/backend"
          
      - name: Run OWASP Dependency-Check-Backend
        uses: dependency-check/Dependency-Check_Action@main
        with:
          project: "ReactApp-Backend"
          path: "ReactApplication/Backend"
          format: "HTML"
          out: "reports/frontend"

      - name: fix the issue
        run: sudo chown -R ubuntu:ubuntu reports
  
  SonarCloud-Frontend:
    runs-on: Runner-1
    needs: OWASP-Dependency-check
    steps:
    - name: Run tests with coverage
      working-directory: ./ReactApplication/Frontend
      run: npm install && npm run test -- --coverage --coverageReporters=lcov
      
    - name: SonarQube Scan
      uses: sonarsource/sonarcloud-github-action@v3
      with:
        projectDir: Frontend
        args: >
          -Dsonar.organization=ilayarajac515 
          -Dsonar.projectKey=ilayarajac515_React-DevOpsProject
          -Dsonar.sources=.
          -Dsonar.exclusions=node_modules/**,coverage/**,dist/**
          -Dsonar.javascript.lcov.reportPaths=coverage/lcov.info
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  
